body{
    display: flex;
    height: 50rem;
}
body>div{
    margin: auto;
    
    
}
.btn{
    display: inline-flex;
    background-color: white;
    border: none;
    color: white;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn--success{
    background-color: #71be34;
}
.btn--warn{
    background-color: #ffb702;
}
.btn--danger{
    background-color: #ff623d;
}
.btn +.btn {
    margin-left: 16px;
}
.btn--disabled{
    cursor: default;
    opacity: 0.5 !important;
}