/**{
padding: 0;
margin: 0;
}*/
nav {
	padding: 30px;
	text-align: center;
	
}
nav a{
color: black;
padding: 30px;
text-decoration: none;
}
nav a:hover {
	background-color: #b8b8ba;
	color: white;
}
footer{

	text-align: center;
}
#center{
	text-align: center;
}
#left{
	padding: 10px 50px 10px 600px;

	float:  left;
}
#right{
	padding: 10px 600px 10px 50px;

	float:  right;
}