*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #3eb0f7;
}
.boxf{
	width: 1038px;
	height: 398px;
	border-radius: 25px;
	margin-top: 15%;
	margin-left: 22%;
	background-color: #7497ad;
	
}
#pic{
	margin-left: 850px;
	margin-top: -296px;
}
.text {
	text-align: center;
	margin-top: 13px;
	margin-left: -50px;
	font-size: 25px;
}
.boxc{
	width: 692px;
	height: 48px;
	border-radius: 532px 612px;
	background-color: white;
	margin-top: -125px;
	margin-left: 620px;
}
.boxc>p{
	color: rgb(156, 154, 148);
	font-size: 19px;
	padding-top: 13px;
	padding-left: 20px;
}
.b1{
	width: 123px;
	height: 44px;
	background-color: rgb(146, 190, 226);
	margin-top: 30px;
	margin-left: 265px;
	border: 0;
	border-radius: 30px;
}
.b2{
	background-color: red;
}
